.main-nav {
  display: none;
}

.main-nav--open {
  display: block;
  position: absolute;
  background-color: $additional-background;
  left: 0;
  right: 0;
  top: 98px;
}

.main-nav__list {
  margin: 0 auto;
  width: 290px;
  padding: 0;
  list-style: none;
}

.main-nav__link {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: 14px;
  line-height: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 11px 0;
}

@media (min-width: $tablet-width) {
  .main-nav--open {
    top: 81px;
  }

  .main-nav__list {
    width: 678px;
  }

  .main-nav__link {
    font-size: 16px;
    line-height: 16px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    display: block;
    margin-left: 161px;
    margin-top: 11px;
  }

  .main-nav__list {
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
  }

  .main-nav__link {
    display: block;
    text-transform: none;
    font-weight: 400;
    padding: 2px;
    border: 1px solid transparent;

    &:focus:not(.main-nav__link--disadled) {
      border: 1px solid currentColor;
    }

    &:hover:not(.main-nav__link--disadled) {
      border-bottom: 1px solid currentColor;
    }

    &:active:not(.main-nav__link--disadled) {
      color: #1c3374;
      border: 1px solid transparent;
    }

    &--disadled {
      color: #999999;
      pointer-events: none;
    }
  }
}
