.page-body {
  min-width: 320px;
  background-color: $background;
  color: $base-text;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.page-body--no-scrol {
  overflow: hidden;
}
