.pagination {
  display: none;
}


@media (min-width: $tablet-width) {
  .pagination {
    display: block;
    width: 78px;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
  }

  .pagination__button {
    display: block;
    position: relative;
    width: 37px;
    height: 35px;
    background-color: #0266c1;
    border: 1px solid #0266c1;


    &::before {
      position: absolute;
      content: "";
      width: 13px;
      height: 10px;
      left: 50%;
      right: 50%;
      transform: translate(-50%, -50%);
      mask-image: url("/__spritemap#sprite-arrow-slider-view");
      mask-repeat: no-repeat;
      mask-position: center;
      background-color: #ffffff;
    }

    &:focus:not(.pagination__button--disadled) {
      background-color: #ffffff;
      border: 1px solid #ffffff;
    }

    &:focus:not(.pagination__button--disadled)::before {
      background-color: #1c3374;
    }

    &:hover:not(.pagination__button--disadled) {
      background-color: #ffffff;
      border: 1px solid #1c3374;
    }

    &:hover:not(.pagination__button--disadled)::before {
      background-color: #1c3374;
    }

    &:active:not(.pagination__button--disadled) {
      background-color: #1c3374;
      border: 1px solid #1c3374;
    }

    &:active:not(.pagination__button--disadled)::before {
      background-color: #ffffff
    }
  }

  .pagination__button--next {
    transform: rotate(180deg);
  }

  .pagination__button--disadled {
    background-color: #999999;
    border: 1px solid #999999;
    cursor: not-allowed;
  }
}
