.title {
  position: relative;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 22px;
  line-height: 22px;
  font-weight: 800;
  padding-top: 15px;
  padding-bottom: 15px;
}

.title__hadow {
  position: absolute;
  font-size: 26px;
  line-height: 26px;
  font-weight: 800;
  color: rgba(45, 56, 63, 0.1);
  top: 0;
  left: 0;
}

@media (min-width: $tablet-width) {
  .title {
    font-size: 25px;
    line-height: 25px;
    padding-top: 20px;
    width: 550px;
  }

  .title__hadow {
    font-size: 40px;
    line-height: 40px;
  }
}

@media (min-width: $desktop-width) {
  .title {
    font-size: 35px;
    line-height: 35px;
    padding-top: 25px;
  }

  .title__hadow {
    font-size: 55px;
    line-height: 55px;
  }
}
