.tours {
  padding-top: 5px;
  padding-bottom: 20px;
}

.tours__swiper {
  margin-top: 39px;
  margin-bottom: 25px;
}

.tours__pagination {
  display: none;
}

.tours__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.tours__show-ll {
  display: block;
  box-sizing: border-box;
  width: 212px;
  position: relative;
  font-size: 14px;
  line-height: 14px;
  font-weight: 700;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-decoration: none;
  color: #2d383f;
  padding: 10px 20px 10px 10px;
  margin: 0 auto;

  &::before {
    display: block;
    content: "";
    position: absolute;
    width: 7px;
    height: 12px;
    top: 50%;
    transform: translateY(-50%);
    right: 9px;
    mask-image: url("/__spritemap#sprite-tours-arrow-view");
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: currentColor;
  }

  &:focus:not(.tours__show-ll--disdled) {
    color: #0266c1;
  }

  &:hover:not(.tours__show-ll--disdled) {
    color: rgba(2, 102, 193, 0.1);
  }

  &:active:not(.tours__show-ll--disdled) {
    color: #1c3374;
  }
}

.tours__show-ll--disdled {
  color: #999999;
  cursor: not-allowed;
}

@media (min-width: $tablet-width) {
  .tours {
    padding-top: 24px;
    padding-bottom: 20px;
  }

  .tours__swiper {
    margin-top: -46px;
    margin-bottom: 26px;
  }

  .tours__pagination {
    display: block;
    width: 78px;
    margin-bottom: 25px;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
  }

  .tours__button {
    display: block;
    position: relative;
    width: 37px;
    height: 35px;
    background-color: #0266c1;
    border: 1px solid #0266c1;


    &::before {
      position: absolute;
      content: "";
      width: 13px;
      height: 10px;
      left: 50%;
      right: 50%;
      transform: translate(-50%, -50%);
      mask-image: url("/__spritemap#sprite-arrow-slider-view");
      mask-repeat: no-repeat;
      mask-position: center;
      background-color: #ffffff;
    }

    &:focus:not(.nav-button--disadled) {
      background-color: #ffffff;
      border: 1px solid #ffffff;
    }

    &:focus:not(.nav-button--disadled)::before {
      background-color: #1c3374;
    }

    &:hover:not(.nav-button--disadled) {
      background-color: #ffffff;
      border: 1px solid #1c3374;
    }

    &:hover:not(.nav-button--disadled)::before {
      background-color: #1c3374;
    }

    &:active:not(.nav-button--disadled) {
      background-color: #1c3374;
      border: 1px solid #1c3374;
    }

    &:active:not(.nav-button--disadled)::before {
      background-color: #ffffff
    }
  }

  .tours__button--next {
    transform: rotate(180deg);
  }

  .nav-button--disadled {
    background-color: #999999;
    border: 1px solid #999999;
    cursor: not-allowed;
  }

  .tours__show-ll {
    font-size: 16px;
    line-height: 16px;
    width: 238px;
  }
}

@media (min-width: $desktop-width) {
  .tours {
    padding-top: 77px;
    padding-bottom: 100px;
  }

  .tours__swiper {
    margin-top: -67px;
  }

  .tours__pagination {
    margin-bottom: 53px;
  }

  .tours__swiper {
    margin-bottom: 55px;
  }
}
