.tours {
  padding-top: 24px;
  padding-bottom: 24px;
}

.tours__swiper {
  margin-top: 24px;
  margin-bottom: 25px;
}

.tours__slider {
  margin: 0;
  padding: 0;
  list-style: none;
}

.tours__nav-wrapper {
  display: none;
}

.tours__slide {
  display: block;
  box-sizing: border-box;
  background-color: $additional-background;
  color: $additional-text;
  width: 290px;
  background-repeat: no-repeat;
  background-position: center;

  &--slide-1 {
    background-image: url("../img/background/tours-side-1.jpg");
  }

  &--slide-2 {
    background-image: url("../img/background/tours-side-2.jpg");
  }

  &--slide-3 {
    background-image: url("../img/background/tours-side-3.jpg");
  }

  &--slide-4 {
    background-image: url("../img/background/tours-side-4.jpg");
  }
}

.tours__slide-wrapper {
  box-sizing: border-box;
  min-height: 416px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 30px 10px 29px 20px;
}

.tours__slider-info {
  font-size: 12px;
  line-height: 12px;
  font-weight: 500;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin: 0;
}

.tours__slider-mane {
  position: relative;
  padding: 8px 12px 8px 34px;
  background-color: $base-btn;

  &::before {
    position: absolute;
    content: "";
    width: 9px;
    height: 12px;
    top: 8px;
    left: 16px;

    background-repeat: no-repeat;
    background-position: center;
    background-image: url("/__spritemap#sprite-pin-view");
  }
}

.tours__slider-day {
  position: relative;
  display: inline-block;
  padding: 8px 5px 8px 33px;

  &::before {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    top: 4px;
    left: 1px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("/__spritemap#sprite-sun-view");
  }
}

.tours__slider-night {
  position: relative;
  display: inline-block;
  padding: 8px 5px 8px 30px;
  margin-left: 8px;

  &::before {
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    top: 6px;
    left: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("/__spritemap#sprite-moon-view");
  }
}

.tours__slider-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;


  margin-top: 15px;
  margin-bottom: 15px;
  padding-bottom: 16px;
}

.tours__slider-text-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.tours__slider-text {
  margin: 0;
}

.tours__slider-description {
  font-size: 12px;
  line-height: 12px;
  font-weight: 300;
  display: block;
}

.tours__slider-description--complexity {
  position: relative;
  padding-bottom: 21px;
  width: 85px;

  &::before {
    position: absolute;
    content: "";
    width: 30px;
    height: 16px;
    bottom: 0;
    left: 0;
  }
}

.tours__slider-value {
  display: block;
  margin-top: 8px;
  font-size: 13px;
  line-height: 13px;
  font-weight: 700;
}

.tours__link {
  display: block;
  width: fit-content;
  margin: 0 auto;
  padding: 10px 28px 10px 10px;
  text-decoration: none;
  color: $additional-btn;
  font-size: 14px;
  line-height: 14px;
  font-weight: 700;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .tours {
    padding-top: 48px;
    padding-bottom: 40px;
  }

  .tours__swiper {
    margin-top: -59px;
  }

  .tours__nav-wrapper {
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 78px;
    height: 60px;
    margin-left: auto;
  }

  .tours__slider-text-wrapper {
    gap: 27px;
  }

  .tours__link {
    font-size: 16px;
    line-height: 16px;
  }
}

@media (min-width: $desktop-width) {
  .tours {
    padding-top: 97px;
    padding-bottom: 100px;
  }

  .tours__swiper {
    margin-top: -63px;
    margin-bottom: 54px;
  }

  .tours__nav-wrapper {
    height: 89px;
  }
}
