.training {
  padding-top: 2px;
}

.training__content {
  margin-top: 10px;
  margin-bottom: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.training__content p {
  margin: 10px 0;
}

.training__title-instructors {
  margin-top: 0;
  font-size: 22px;
  line-height: 22px;
  font-weight: 800;
}

.training__slider {
  margin: 0;
  padding: 0;
  list-style: none;
}
