.page-body {
  background-color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #2d383f;
  padding: 0;
  margin: 0;
  min-width: 320px;
}

.page-body--no-scrol {
  overflow: hidden;
}
