// width
$tablet-width: 768px;
$desktop-width: 1440px;

// color
$background: #ffffff;
$additional-background: #0266c1;
$base-text: #2d383f;
$additional-text: #ffffff;
$base-btn: #0266c1;
$additional-btn: #2d383f;
$base-icon: #2d383f;
$additional-icon: #0266c1;
$dark-icon: #ffffff;
